.login__container {
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.6) 0%, rgba(130, 128, 128, 0.2) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ffffff;
    width: 450px;
  }

  .login__accout {
    backdrop-filter: blur(10px);
  }