<ol>
  <li class="flex items-center p-2">
    <p class="text-2xl mx-3">120</p>
    <button mat-raised-button (click)="openDialog('27c98688-22d0-496f-8f26-651dda42ad22', '28285178-35a3-4577-acf1-bf82d09c2744')">Add Target</button>
  </li>
  <li class="flex items-center p-2">
    <p class="text-2xl mx-3">120</p>
    <button mat-raised-button (click)="openDialog('7eee7b96-be03-4d75-b021-f6c0406adcb5','28285178-35a3-4577-acf1-bf82d09c2744')">Add Target</button>
  </li>
  <li class="flex items-center p-2">
    <p class="text-2xl mx-3">120</p>
    <button mat-raised-button (click)="openDialog('27c98688-22d0-496f-8f26-651dda42ad22','7b94f9dd-2afe-4317-be05-f1e8de95a64e')">Add Target</button>
  </li>
  <li class="flex items-center p-2">
    <p class="text-2xl mx-3">120</p>
    <button mat-raised-button (click)="openDialog('7eee7b96-be03-4d75-b021-f6c0406adcb5','7c45f31e-4c18-41ed-b745-9b3e03daefde')">Add Target</button>
  </li>
</ol>